<!-- Section: Design Block -->
<section class="mt-5">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 justify-content-around align-items-center">
        

        <div class="col-lg-5 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
                <h4 class="text-primary">New Password</h4><br>
              <form method="post" action="/resetPassword">
            
                 <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4">New Password</label>
                  <input type="password" id="password1" name="Password" class="form-control" required />
                  
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4">Confirm Password</label>
                  <input type="password" id="password2" name="up2" class="form-control" required />
                  
                </div>

               

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
                
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->