<div class="container"></div>
<div class="col-sm-4" style="margin-top:200px; margin-left:35% ;">
<form action="/otp" method="post">
<label for="otp">Enter the otp</label>
<input type="tel" name="otp">
<button type="submit" class="btn btn-success ">Submit</button>
</form>
</div>
</div>