

<section class="mt-5">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 justify-content-around align-items-center">
        

        <div class="col-lg-5 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <h5 class="text-danger">{{otpError}}</h5>
              <h6>Please enter the otp sent to your registered mobile number '+91******{{num}}' </h6>
              <form action="/otp" method="post">
<label for="otp">Enter the otp</label>
<input type="tel" name="otp" class="form-control">
<button type="submit" class="btn btn-success ">Submit</button>
</form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
<style>
    input {
  border-style: solid;
  border-width: 1px;
}
</style>